/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*===============================
   Author's custom styles
================================= */

* {
    box-sizing: border-box;
}

body {
  background: #fff;
}
    
h1, h2, h3, h4, p, a  {
    font-family: 'PT Serif', serif;
    color: #3c483a;
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.6px;
}

h3, h3, a {
    font-size: 17px;
}

p{
    font-size: 18px;
    line-height: 1.75;
}

.link {
    position: relative;
    display: inline-block;
    
}

.link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: #5F735C;
    -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link:hover::after {
    width: 80%;
    -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*---------------------------------- 
    header nav
-----------------------------------*/

.navc {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: -100px;
    background: white;
    -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.m {
    top: 0px;
}

.navfade {
    top: 0px;
    -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.logonav {
    float: left;
}

.logo {
    margin: 20px 10px 20px 30px;
    vertical-align: bottom;
    
}

.logonav h1 {
    display: inline-block;
    margin-top: 43px;
}


.topnav {
    float: right;
        margin: 40px 15px 0px 0px;
    
}

.topnav a {
    display: inline-block;
    position: relative;
    text-align: right;
    float: left;
    padding: 15px;
    color: #5F735C;
}

.topnav a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    height: 1px;
    background-color: white;
     -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.topnav a:hover::after {
    width: 80%;
     -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navrespon {
    display: block !important;
}



/*---------------------------------- 
    nav burger
-----------------------------------*/

#navburger {
    display: none;
    float: right;
    width: 25px;
    height: 17px;
    position: relative;
    
    cursor: pointer;
    z-index: 11;
    -webkit-transition: .75s ease-in-out ;
    -moz-transition: .75s ease-in-out;
    -o-transition: .75s ease-in-out;
    transition: .75s ease-in-out;
}

#navburger span {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #A52340;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#navburger span:nth-child(1) {
    top: 0px;
}

#navburger span:nth-child(2),#navburger span:nth-child(3) {
    top: 7px;
}

#navburger span:nth-child(4) {
    top: 14px;
}

#navburger.open span:nth-child(1) {
    top: 7px;
    width: 0%;
    left: 50%;
}

#navburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navburger.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.nav {
    background-color: #A52340;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: none;
    left: 0;
}

.nav ul {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: right;
    padding: 0;
    -webkit-transition: 1.25s ease-in-out;
    -moz-transition: 1.25s ease-in-out;
    -o-transition: 1.25s ease-in-out;
    transition: 1.25s ease-in-out;
    bottom: -30%;
}

.nav ul.up {
    bottom: 30%;
}

.nav li {
    list-style-type: none;
    padding-right: 60px;
    -webkit-transition: 1.25s ease-in-out;
    -moz-transition: 1.25s ease-in-out;
    -o-transition: 1.25s ease-in-out;
    transition: 1.25s ease-in-out;
}

.nav li.open {
    padding-bottom: 20px;
}

.nav a:hover {
    border-bottom:1px solid #fff;
}

/*---------------------------------- 
    start
-----------------------------------*/

.cstart {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    margin: 30px;
    position: relative;
    overflow: hidden;
}

.logonavstart {
    position: absolute;
    top: 0;
    background: #5F735C;
}

.logonavstart img {
    margin: 60px;
}

.topnavstart {
    float: right;
    margin: 10px 15px;
    position: absolute;
    right: 0;
}

.topnavstart a {
    display: inline-block;
    position: relative;
    text-align: right;
    float: left;
    padding: 15px;
    color: white;
}

.topnavstart a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    height: 1px;
    background-color: white;
     -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.topnavstart a:hover::after {
    width: 80%;
     -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.simgl, .simgr {
    width: 50%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}

.simgl {background-image: url("../img/baumgarten-freudenau-goldach-aussen-02.jpg");}
.simgr {background-image: url("../img/baumgarten-freudenau-goldach-aussen-04.jpg");
background-position: right;}

.stitle {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 120px;
    text-align: center;
    color: white;
}

/*---------------------------------- 
    projekt
-----------------------------------*/

.chome {
    margin: 0px 30px;
    position: relative;
    display: inline-block;
}

.fg {
    float: right;
    background: #e9e1cb;
    width: 40%;
    position: relative;
    top: -120px;
    padding: 40px 60px;
    
}

.fg h1 {
    color: #435041;
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px;
}


/*---------------------------------- 
    inview animation
-----------------------------------*/

.inviewtop {
    
}

.inview-fade-top {
    box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.75);
    background-color: blueviolet;
    -webkit-transition: all 1.5s ease-in-out;
    transition:         all 1.5s ease-in-out;
    transition-delay: 1.5s;
}


.inview {
    left: -200px;
    letter-spacing: -10px;
    -webkit-transition: all 1.5s ease-in-out;
    transition:         all 1.5s ease-in-out;
}

.inview-fade {
    left:0px;
    letter-spacing: 0px;
}

/*---------------------------------- 
    container bulding
-----------------------------------*/

.cb {
    height: calc(100vh - 80px);
    width: 50%;
    margin: 40px 0px;
    position: fixed;
    display: inline-block;
    border-right:1px dashed #5F735C;    
}

#bulding {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 10%;
    overflow: visible;
    cursor: pointer;
}

.st0{ fill:none;stroke:#5F735C;stroke-width: ;}
.st1{ fill:#FFFFFF;stroke:#5F735C;stroke-width: 1;}
.st3{ fill:none;stroke:#5F735C;stroke-dasharray:3,3; stroke-width: 1;}
.st4{ fill:#5F735C;stroke-width: 1;}
.st5{ fill:#FFFFFF;stroke:#5F735C;stroke-width: 1;}

g {
    transition: all 0.75s ease-in-out;
}

.activ {
    fill: #BEC7BE;
    background: rgba(190, 199, 190, 0.75);
    -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.up {
    opacity: 0.75;
    -webkit-transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate(0px, -50px);
}

.reservation {
    position: absolute;
    bottom: 0px;
    width: 80%;
    margin: 0% 10%;
    
}

/*---------------------------------- 
    container table
-----------------------------------*/

.ct {
    top: 124px;;
    width: 50%;
    position: absolute;
    right: 0;
    display: inline-block;
}

.ct h4 {
    width: 84%;
    margin: 10% 8% 3% 8%;
    padding-left: 10px;
}

table {
    width: 84%;
    margin: 3% 8%;
    border: none;
}

table, th, td, td a {
    font-family: 'PT Serif', serif;
    color: #5F735C;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.75px;
    border-collapse: collapse;
}

th {
    font-size: 12px;
}

th, td {
    padding: 5px 0px 5px 10px;
    text-align: left;
    border-bottom: 1px solid #BEC7BE;   
    border-right: 1px dashed #BEC7BE;
}

th:last-child, td:last-child {border-right: none;}

.planb {cursor: pointer;}
.planb img {margin: 3px;}

.plan {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height:  100vh;
    background-color: #fff;
    cursor: pointer;
    z-index: 10;
}

.planhover {
    display: block;
}

.v td {
    font-style: italic;
    color: rgba(95, 115, 92, 0.5);
}


/*---------------------------------- 
responsive ipad
-----------------------------------*/



@media only screen and (max-width: 1400px) {
   
   
}

@media only screen and (max-width: 1200px) {
   
  
}

@media only screen and (max-width: 770px) {
    #navburger {display: block;}
    .topnav a {
    display: none;
    float: none;
    }
    
}

@media only screen and (max-width: 690px) {
 
}

@media only screen and (max-width: 570px) {
  
}

@media only screen and (max-width: 415px) {
  
}

@media only screen and (max-width: 375px) {
   
}





 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


